<mat-accordion>
    <mat-expansion-panel hideToggle *ngFor="let fcast of forecastgtfs">
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{fcast.lineaCode}}
            </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-card *ngFor="let station of fcast.estaciones">
            <mat-card-header>
                <mat-card-title>
                    {{station.stopName}}
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p>Departure: {{station.departure.departureTime}} - Delay: {{station.departure.delay}}</p>
                <p>Arrival: {{station.arrival.arrivalTime}} - Delay: {{station.arrival.delay}}</p>
            </mat-card-content>
        </mat-card>
    </mat-expansion-panel>
</mat-accordion>